:root {
  --off-black: rgb(40, 40, 40);
  --medium-off-black: rgb(30, 30, 30);
  --darker-off-black: rgb(20, 20, 20);

  --lavender: rgb(205, 163, 220);
  --pink: rgb(220, 138, 221);
  --cream: rgb(245, 245, 220);
  --red-orange: rgb(246, 97, 81);
  --grape-purple: rgb(97, 53, 131);

  --pastel-light-green: rgb(143, 240, 168);
  --pastel-dark-green: rgb(46, 194, 125);
  --dark-green: rgb(0, 100, 0);
  --darker-green: rgb(0, 75, 0);
}

body {
  background-color: var(--medium-off-black);
}

.rootContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.box {
  width: 300px;
  height: 400px;
  background-color: var(--grape-purple);
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsContainer {
  display: grid;
  text-align: center;
  grid-template-columns: 50fr 50fr;
  grid-template-rows: 40fr 10fr 10fr 40fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sprite sprite"
    "nameSelect nameSelect"
    "levelSelect statSelect"
    "checkboxes checkboxes";
}

.sprite {
  grid-area: sprite;
  align-content: center;
  text-align: center;
}

.nameSelect {
  grid-area: nameSelect;

}

.levelSelect {
  grid-area: levelSelect;
}

.statSelect {
  grid-area: statSelect;
}

.checkboxes {
  grid-area: checkboxes;
}

.checkboxes ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.checkboxes button {
  width: 150px;
  height: 30px;
  margin: 1px;
}

  
[aria-pressed] {
  background-color: var(--cream);
}
  
[aria-pressed="true"] {
  background-color: var(--red-orange);  
}


